<link rel="stylesheet" href="css/css-ejs/banner.css">
<div id="bannerCont">
<!--     <div class="slide bottom"></div>
    <div class="slide middle"></div>
    <div class="slide top"></div> -->
	<div id="bannerDescription"><%= banner %></div>
</div>