<div id="error" class="alert alert-danger" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <span id="error-message"></span>
</div>
