<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" rel="home" href="#">
                <img style="max-height:30px;" alt="Scout" src="img/logo.png" title="Scout">
            </a>
        </div>
    </div>
</nav>