
#bannerCont{
  position: relative;
  width: 100%;
  height: 90px;
  box-shadow: 3px 0 5px 3px rgba(0,0,0,.3);
  margin-bottom: 30px;
}
.slide{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom{
  z-index: 1;
  background-image: url(/img/banner_reward.jpg);
}
.middle{
  z-index: 2;
  background-image: url(/img/banner_reward.jpg);
  -webkit-animation: fadeMiddle 20s infinite;
  animation: fadeMiddle 20s infinite;
}
.top{
  z-index: 3;
  background-image: url(/img/banner_reward.jpg);
  -webkit-animation: fadeTop 20s infinite;
  animation: fadeTop 20s infinite;
}
#bannerDescription{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2% 5%;
  z-index: 5;
  background-color: rgba(0,0,0,.6);
  color: #FFF;
  font-size: 1.5em;
  font-family: Tahoma;
}
@-webkit-keyframes fadeTop{
  0% {opacity: 1;}
  27% {opacity: 1;}
  33% {opacity: 0;}
  94% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeMiddle{
  0% {opacity: 1;}
  60% {opacity: 1;}
  66% {opacity: 0;}
  99% {opacity: 0;}
  100%{opacity: 1;}
}
@-keyframes fadeTop{
  0% {opacity: 1;}
  27% {opacity: 1;}
  33% {opacity: 0;}
  94% {opacity: 0;}
  100% {opacity: 1;}
}
@-keyframes fadeMiddle{
  0% {opacity: 1;}
  60% {opacity: 1;}
  66% {opacity: 0;}
  99% {opacity: 0;}
  100%{opacity: 1;}
}