body {
    /* image from: https://nadiayates.files.wordpress.com/2015/03/img_7429.jpg */
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, .9),
      rgba(0, 0, 0, 0)
    ),url('./../../img/login.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 60% 50%;
}

.stack {
    position:relative;
    width: auto;
}
.layout {
    margin-left: 5%;
}

#logo {
    margin-top: 45px;
    height: auto;
    width: 200px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.9));
}
#slogan {
    margin-top: 150px;
    color: #F0F0F0;
    font-size: 50;
}
#sub-slogan {
    margin-top: 25px;
    color: #F0F0F0;
    font-size: 25;
}

#button-nav {
    margin-top: 130px;
}

/* CSS button design: http://codepen.io/benague/pen/bLBCd */
.custom-btn {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    width: 150px;
    text-align: center;
}

.blue {
    color: #55acee;
    border: 2px #55acee solid;
}

.blue:focus {
    color: #55acee;
    border: 2px #55acee solid;
    text-decoration: none;
}

.blue:hover {
    background-color: #55acee;
    color: #fff;
    text-decoration: none;
}

.green {
    color: #2ecc71;
    border: 2px #2ecc71 solid;
}

.green:focus {
    color: #2ecc71;
    border: 2px #2ecc71 solid;
    text-decoration: none;
}

.green:hover {
    color: #fff;
    background-color: #2ecc71;
    text-decoration: none;
}
