body {
    /* http://thewaterrathotel.com.au/content/home/01.jpg */
    background-image: url('./../../img/register.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center; 
}
#register-container {
    margin-top: 220px;
}
#register-panel {
    opacity: 0.9;
    margin-top:30px;
}