<html>
    <head>
        <% include template/header %>
        <link href="css/nv.d3.css" rel="stylesheet" type="text/css">

        <script src="js/d3.min.js"></script>
        <script src="js/nv.d3.js"></script>
        <style media="screen" type="text/css">
            .nvtooltip position:relative
        </style>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/banner %>

        <div class="container">
            <div class="row">
                <div id="graph" class="col-md-4 col-md-offset-3">
                </div>
            </div>

            <div class="row">
                <div id="newcustomers" class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>New Customers</h3>
                        </div>
                        <ul class="list-group">
                            <a id="new-daily" class="list-group-item">
                                Today
                                <span class="badge"></span>
                            </a>
                            <a id="new-monthly" class="list-group-item">
                                This Month
                                <span class="badge"></span>
                            </a>
                        </ul>
                    </div>
                </div>
                <div id="visitlength" class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Customer Demographics</h3>
                        </div>
                        <ul class="list-group">
                            <li id="demographics-duration" class="list-group-item">
                                Average Visit Duration
                                <span class="badge"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="points" class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
<span>
                            <h3>Points</h3>
</span>
                        </div>
                        <ul class="list-group">
                            <a id="points-earned" class="list-group-item">
                                Total Points Earned
                                <span class="badge"></span>
                            </a>
                            <a id="points-avg" class="list-group-item">
                                Average Points Earned
                                <span class="badge"></span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="chart" class="col-md-12">
                    <div class="panel panel-default">
                        <svg/>
                    </div>
                </div>
            </div>
        </div>
        <% include template/footer %>
    </body>
    <script>

// nvd3 chart

var drawPointsScatter = function() {
    d3.selectAll("svg > *").remove();
    d3.json('/dashboard/points', function(data) {
        nv.addGraph( function() {
            var width = $('svg').width() - 40;
            var height = $('svg').height();
            var chart = nv.models.scatterChart()
            chart.xAxis.tickFormat(function(d) {
                return d3.time.format('%x')(new Date(d));
            });
            chart.tooltipContent(function(key) {
                return key;
            });
            chart.forceY(0);
            chart.width(width).height(height);

            d3.select('#chart svg')
                .datum(data)
                .call(chart);

            nv.utils.windowResize( function() {
                var width = $('svg').width() - 40;
                var height = $('svg').height();
                chart.width(width).height(height);
                chart.update();
            });
            return chart;
        });
    });
};

var drawCustomerLine = function() {
    d3.selectAll("svg > *").remove();
    d3.json('/dashboard/customers', function(data) {
        nv.addGraph( function() {
            var width = $('svg').width() - 40;
            var height = $('svg').height();
            var chart = nv.models.lineChart()
            chart.xAxis.tickFormat(function(d) {
                    return d3.time.format('%x')(new Date(d));
                });
            chart.forceY(0);
            chart.width(width).height(height);

            d3.select('#chart svg')
                .datum(data)
                .call(chart);

            nv.utils.windowResize( function() {
                var width = $('svg').width() - 40;
                var height = $('svg').height();
                chart.width(width).height(height);
                chart.update();
            });
            return chart;
        });
    });
};
$("#new-daily, #new-montly").click(drawCustomerLine);
$("#points-earned, #points-avg").click(drawPointsScatter);
drawCustomerLine();
    </script>
</html>
