<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <img src="img/sadface.jpeg" alt="error" style="max-width:400px;max-height:400px;">
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <!-- Should center -->
                    <!-- Should get error number instead of defaulting to 404 -->
                    <h1>Error <span class="label label-default">404</span></h3>
                </div>
            </div>
        </div>
    </body>
</html>