<html>
    <head>
        <% include template/header %>
        <style>
            body, html { margin:0; padding:0; height:100%;}
            body { font-family:sans-serif; }
            body * { font-weight:200;}
            #heatmapContainerWrapper { width:100%; height:100%; position:absolute; }
            #heatmapContainer { display: inline-block; }
        </style>
    </head>
    <body>
        <% include template/navbar %>
        <div style="text-align: center; padding: 100px">
            <div id="heatmapContainer" ></div>
            <div id="heatmapContainerWrapper"></div>
        </div>
        <% include template/footer %>
    </body>
</html>
