<html>
    <head>
        <% include template/header %>
        <style>
            body, html { margin:0; padding:0; height:100%;}
            body { font-family:sans-serif; }
            body * { font-weight:200;}
            #heatmapContainerWrapper { width:100%; height:10%; }
            #heatmapContainer { width:100%; height:100%;}
            #map-canvas { height: 100% }
            h1 { position:absolute; left:0; top:0; background:white; padding:10px;}
        </style>
    </head>
    <body>
        <% include template/navbar %>
        <div id="heatmapContainerWrapper"style="width:100%; display:table-cell; vertical-align:middle; text-align:center">
        <div id="heatmapContainer" style="width:100%; display:table-cell; vertical-align:middle; text-align:center"></div>
        <script>
          window.onload = function() {
            // create a heatmap instance

            var img = document.createElement("img");
            img.src = "/img/floorplan.jpg";

            var src = document.getElementById("heatmapContainer");
            src.appendChild(img);

            var heatmap = h337.create({
              container: document.getElementById('heatmapContainer'),
              maxOpacity: .6,
              radius: 50,
              blur: .90,
              // backgroundColor with alpha so you can see through it
              backgroundColor: 'rgba(100, 100, 100, 0)'
            });
            var heatmapContainer = document.getElementById('heatmapContainerWrapper');

            heatmapContainer.onclick = function(e) {
              var x = e.layerX;
              var y = e.layerY;
              heatmap.addData({ x: x, y: y, value: 1 });
            };

          };
        </script>
        <% include template/footer %>
    </body>
</html>
