<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <!--% include modules/login %-->
        <% include modules/modal %>
        <div class="stack">
            <div class="layout">
                <img id="logo" src="/img/logo.png" alt="Scout">
            </div>
            <div class="layout" id="slogan">Scout For Business</div>
            <div class="layout" id="sub-slogan">Bring in new customers and increase customer retention.</div>
            <div class="layout" id="button-nav">
                <a class="custom-btn green" href="/register" tabindex="1">Sign Up</a>
                <a class="custom-btn blue" id="login-btn" tabindex="2">Log In</a>
            </div>
        </div>
    </body>
</html>

