<html>
    <head>
        <% include template/header %>
        <style type="text/css">
            body {
                background-image: url('./img/urban.png');
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: center; 
            }
        </style>
    </head>
    <body>
        <!--% include modules/error %-->
        <% include modules/register %>
    </body>
</html>