<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <div id="register-container" class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <% include template/error %>
                    <div id="register-panel" class="panel panel-default">
                        <div class="panel-heading text-center">Registration</div>
                        <div class="panel-body">
                            <% include modules/register %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>