<html>
    <head>
        <% include template/header %>
        <style>
            #reward-description {
                margin-top: 10px;
            }
            #rewards-table .image-col {
                width: 200px;
            }
            #rewards-table .points-col {
                width: 100px;
            }
            #rewards-table .edit-remove-col {
                width: 200px;
            }
        </style>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/jumbotron %>
        
        <div class="container">
            <table id="rewards-table" class="table">
            </table>
        </div>

        <% include template/footer %>
    </body>
    <script>
        $(document).ready(function() {
            $.ajax({
                async: true,
                url: '/rewards/getrewards',
                success: function (data) {
                    if (data.length > 0) {
                        var table = '<tr><th>Image</th><th>Points</th><th>Description</th><th>Edit/Remove</th></tr>';

                        data.forEach(function (reward) {
                            var objectid = reward['objectId'];
                            var imageUrl = reward['image'] ? reward['image'] : 'noimage.jpg';
                            var points = reward['points'];
                            var description = reward['description'];

                            table += 
                                '<tr><td class="image-col"><a href="#" class="thumbnail"><img src="img/'+imageUrl+'" alt="'+imageUrl+'"></a></td>'+
                                '<td class="points-col">'+points+'</td>'+
                                '<td class="descrip-col">'+description+'</td>'+
                                // probably a cleaner way to do this without form using jquery
                                '<td class="edit-remove-col"><form method="post" action="/rewards/removereward"><input type="hidden" name="objectid" value="'+objectid+'"><button type="submit" class="btn btn-danger">Remove</button></form></td></tr>';
                        });

                        $("#rewards-table").append(table);
                    } else {
                        $("#rewards-table").append('<td><h3>No available rewards.</h3></td>');
                    }

                }
            });
        });
    </script>
</html>