<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/banner %>

        <div class="container">
            <div class="form-group">
                <button class="btn btn-default" id="addbutton">Add a reward</button>
            </div>
        </div>

        <div id = "content" class="dashboard display-animation" style="margin: 0 auto; width: 1130px;">
        </div>
         <div id = "alert" style="top:100px; margin: 0 auto; width: 75%;"></div>
        <% include modules/modal %>
        <% include template/footer %>
    </body>
</html>
