<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/jumbotron %>

        <div class="container">
            <button class="btn btn-default" id="addbutton">Add a reward</button>
            <div id="addform"></div>
        </div>

        <div class="container">
            <table id="rewards-table" class="table">
            </table>
        </div>

        <% include modules/modal %>
        <% include template/footer %>
    </body>
</html>
