<html>
    <head>
        <% include template/header %>
        <style>
            #reward-description {
                margin-top: 10px;
            }
            #rewards-table .image-col {
                width: 200px;
            }
            #rewards-table .points-col {
                width: 100px;
            }
            #rewards-table .edit-remove-col {
                width: 200px;
            }
        </style>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/jumbotron %>
        
        <div class="container">
            <table id="rewards-table" class="table">
            </table>
        </div>

        <% include template/footer %>
    </body>
    <script>
        var populateRewardsTable = function (data) {
            if (data.length > 0) {
                var heading = '<tr><th>Image</th><th>Points</th><th>Description</th><th>Edit/Remove</th></tr>';
                $("#rewards-table").append(heading);

                data.forEach(function (reward) {
                    var objectid = reward['objectId'];
                    var imageUrl = reward['image'] ? reward['image'] : 'noimage.jpg';
                    var points = reward['points'];
                    var description = reward['description'];

                    var row = 
                        $('<tr><td class="image-col"><a href="#" class="thumbnail"><img src="img/'+imageUrl+'" alt="'+imageUrl+'"></a></td>'+
                        '<td class="points-col">'+points+'</td>'+
                        '<td class="descrip-col">'+description+'</td>'+
                        '<td class="edit-remove-col"><button type="submit" class="btn btn-danger test" id="'+objectid+'">Remove</button></td></tr>');
                    row.hide();

                    $('#rewards-table tr:last-child').after(row);
                    row.fadeIn(1000);
                });
            } else {
                $("#rewards-table").append('<td><h3>No available rewards.</h3></td>');
            }
        }

        $('#rewards-table').ready(function() {
            $.get('/rewards/getrewards', populateRewardsTable);
        });

        $('.container').on('click', '.test', function() {
            $.post('/rewards/removereward', { objectid: this.id }).done(function() {
                $('#rewards-table').empty();
                $.get('/rewards/getrewards', populateRewardsTable);
            });
        });
    </script>
</html>