<!-- http://bootsnipp.com/snippets/featured/full-page-log-in-with-background -->
<div id="register-container" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% include ../template/error %>
            <div id="register-panel" class="panel panel-default">
                <div class="panel-heading text-center">Registration</div>
                <div class="panel-body">
                    <form id="register-form" class="form-horizontal" role="form" method="post" action="/register">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" name="email" id="inputEmail3" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password" id="inputPassword3" class="form-control" placeholder="Password" required>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <label for="inputConfirmPassword3" class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="confirmpassword" id="inputConfirmPassword3" class="form-control"
                                       data-validation-match-match="password" placeholder="Confirm Password" required
                                       data-validation-match-message="The passwords you entered do not match">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputBusinessName" class="col-sm-3 control-label">Business Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="businessname" id="inputBusinessName" class="form-control" placeholder="Business Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="firstname" id="inputFirstName" class="form-control" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="lastname" id="inputLastName" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Register</button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>